.Calendar {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 100%;
    overflow-y: auto;
}

.Calendar__header {
    display: flex;
    height: 40px;
}

.Calendar__header-week {
    width: 150px;
    min-width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

.Calendar-person__timeline-row {
    display: flex;
    height: 40px;
}

.Calendar-person__timeline-block {
    position: relative;
    width: 150px;
    min-width: 150px;
    height: 100%;
    border-right: 1px solid lightgray;
    background: pink;
    opacity: 0;
}

.Calendar-person__timeline-rows:nth-of-type(odd) .Calendar-person__timeline-block {
    background: lightblue;
}

.Calendar-person__timeline-block--color:first-of-type::before,
.Calendar-person__timeline-block--color:last-of-type::before {
    content: '';
}

.Calendar-person__timeline-block--color:first-of-type::after,
.Calendar-person__timeline-block--color:last-of-type::after {
    content: '';
}